.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  } .FeedCreateModal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  } .FeedCreateModal input {
  display: block;
  margin-bottom: 10px;
  } .FeedCreateModal button {
  margin-right: 5px;
  } 